/*!
 * Flynn Grid: Demo
 * http://daviddarnes.github.io/flynn
 */

@import url("grid/grid.css");

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
[class*="span-"] {
	background: #f4f4f4;
	margin-top: 1px;
	padding: 0 5px;
}
