/*!
 * Flynn Grid Structure
 * https://github.com/daviddarnes/flynn
 */
.container {
  max-width: 1200px;
}
.span-1 {
  width: 7%;
}
.span-2 {
  width: 15.333%;
}
.span-3 {
  width: 23.666%;
}
.span-4 {
  width: 31.999%;
}
.span-5 {
  width: 40.332%;
}
.span-6 {
  width: 48.665%;
}
.span-7 {
  width: 56.998%;
}
.span-8 {
  width: 65.331%;
}
.span-9 {
  width: 73.664%;
}
.span-10 {
  width: 81.997%;
}
.span-11 {
  width: 90.33%;
}
.span-12 {
  width: 98.663%;
}
[class*="span-"].shift-1 {
  margin-left: 9.666%;
}
[class*="span-"].shift-2 {
  margin-left: 17.999%;
}
[class*="span-"].shift-3 {
  margin-left: 26.332%;
}
[class*="span-"].shift-4 {
  margin-left: 34.665%;
}
[class*="span-"].shift-5 {
  margin-left: 42.998%;
}
[class*="span-"].shift-6 {
  margin-left: 51.331%;
}
[class*="span-"].shift-7 {
  margin-left: 59.664%;
}
[class*="span-"].shift-8 {
  margin-left: 67.997%;
}
[class*="span-"].shift-9 {
  margin-left: 76.33%;
}
[class*="span-"].shift-10 {
  margin-left: 84.663%;
}
[class*="span-"].shift-11 {
  margin-left: 92.996%;
}
[class*="span-"] {
  margin-left: 1.333%;
  float: left;
  max-width: 100%;
}
.container {
  clear: both;
  float: none;
  margin: 0 auto;
}
.row {
  margin-left: -1.333%;
  clear: both;
  zoom: 1;
}
.row:after,
.row:before {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*="span-"],
.container,
.row {
  zoom: 1;
}
img {
  width: auto \9;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* @import "breakpoints.less"; */
@media (max-width: 767px) {
  [class*="span-"] {
    margin-left: 0;
    width: 100%;
  }
  [class*="span-"][class*="shift-"] {
    margin-left: 0;
  }
  .row {
    margin: 0 1.333%;
  }
  .row .row {
    margin: 0;
  }
  .container {
    width: 100%;
  }
}
